@import './constants.scss';

.app-header {
  padding: $gutter-size--large;
  text-align: center;

  img {
    max-height: 33px;
  }
  border-bottom: $border-standard;
}

.user {
  display: flex;
  align-items: center;
  img {
    max-height: 75px;
    margin-right: 1em;
  }
}

#userError,#consultantError,#dateTimeError,#appointmentError,#generalError{
  color: $error;
  font-size: 1rem;
  display: none;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 12px;
  border-radius: 100rem;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  color: $secondary-extra-dark;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  &.selected {
    background-color: $positive;
    color: white;
  }
}

.date {
  margin-bottom: 5px;
}

textarea {
  min-width: 90%;
  min-height: 150px;
  border-color: $light-grey;
}
