@import './constants.scss';

.app-header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 12px;
  border-radius:100rem;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  color: $secondary-extra-dark;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  &.selected {
    background-color: $positive;
    color: white;
  }
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}

.date{
  margin-bottom: 5px;

}